<h1>Welcome to the Petpourri Party House pet rescue!</h1>

<h3><a href='/categories'>View available animals</a></h3>
<h3><a href='/categories/new'>Do you work here and want to enter an available animal? Click here./a></h3>

<img src='~/img/partypets.jpeg'/>
